
@page
@model ProductCatalogMvc.WebUI.Views.Home.CategoryModel
@{
    ViewData["Title"] = "Category";
}

<h1>Category</h1>
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<textarea style="width:400px">@Model.Message</textarea>