@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Categorias cadastradas</p>
  
    <textarea style="width:400px; height:300px">
        @foreach (var item in @Model.Result)
        {
            @string.Concat(item,"\n")
        }
        </textarea>
</div>
